li {
  display: inline;
}
ul {
  list-style-type: none;
}
.Nav {
  display: inline-block;
  background-color: black;
  width: 100%;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  margin: auto;
}
.log {
  margin-left: 85%;
  display: inline-block;
  background-color: black;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  width: 180px;
}
.Search {
  margin-left: auto;
}

li {
  margin-left: 2%;
  margin-right: 2%;
}
ul {
  width: 600px;
  margin-left: auto;
}
a {
  color: White;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
a:hover {
  background-color: white;
  color: black;
}
