li {
  display: inline;
}
ul {
  list-style-type: none;
}
.Nav {
  display: flex;
  background-color: black;
}
.log {
  margin-left: 80%;
  display: inline-block;
  background-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 140px;
}
.Search {
  margin-left: auto;
}

li {
  margin-left: 2%;
  margin-right: 2%;
}
ul {
  width: 600px;
  margin-left: auto;
}
a {
  color: White;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
a:hover {
  background-color: white;
  color: black;
}
